$themeColor: #48B8E0;
$themeColorDark: #46A7DA;
$themeColorDarker: #3984BE;

$black: #111;
$darkgrey: #232323;
$grey: #444;

$HEADER_HEIGHT: 6rem;
$TOOLBAR_HEIGHT: 3rem;
$TOOLS_WIDTH: 4rem;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	background-color: $black;
}

header {
	position: relative;
	width: 100%;
	height: $HEADER_HEIGHT;
	padding: 0 3rem 0 $TOOLS_WIDTH;

	background-color: $themeColor;
	border-bottom: $themeColorDark 2px solid;
	box-shadow: 0 0 2px $black;
	z-index: 100;

	h1 {
		line-height: 6rem;
	}
}

nav {
	position: relative;
	width: 100%;
	height: $TOOLBAR_HEIGHT;
	padding: 0 3rem 0 $TOOLS_WIDTH - 0.5rem;

	background-color: $themeColorDark;
	border-bottom: $themeColorDarker 2px solid;
	z-index: 90;

	div {
		float: left;
		padding: 0.25rem 0.5rem;
		margin: 0.5rem 1rem 0.5rem 0;

		line-height: $TOOLBAR_HEIGHT - 0.5rem * 2 - 0.25rem * 2;

		border-radius: 0.25rem;

		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}

aside.tools {
	position: relative;
	width: $TOOLS_WIDTH;
	height: calc(100% - #{$HEADER_HEIGHT} - #{$TOOLBAR_HEIGHT});
	float: left;
	padding: 0 0.5rem;

	background-color: $grey;

	color: white;

	div {
		margin: 0.5rem 0;
		padding: 0.5rem 0;
		border-radius: 0.25rem;

		text-align: center;

		cursor: pointer;

		&:hover {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
}

aside.layers {
	position: relative;
	width: 20rem;
	height: calc(100% - #{$HEADER_HEIGHT} - #{$TOOLBAR_HEIGHT});
	float: right;

	background-color: $grey;

	color: white;

	h2 {
		padding: 1rem 1rem;

		border-bottom: $black 1px solid;
	}

	div {
		padding: 0.5rem 1rem;

		border-bottom: $black 1px solid;
	}
}

canvas {
	background-color: $darkgrey;
}
