$themeColor: #48B8E0;
$themeColorDark: #46A7DA;
$themeColorDarker: #3984BE;

$background: #444;
$asideBackground: #333;

$HEADER_HEIGHT: 6rem;
$TOOLBAR_HEIGHT: 3rem;
$TOOLS_WIDTH: 4rem;
$LAYERS_WIDTH: 20rem;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	background-color: $background;
}

header {
	position: relative;
	width: 100%;
	height: $HEADER_HEIGHT;
	padding: 0 3rem 0 $TOOLS_WIDTH;

	background-color: $themeColor;
	border-bottom: $themeColorDark 2px solid;
	box-shadow: 0 0 2px $background;
	z-index: 100;

	h1 {
		line-height: 6rem;
	}
}

nav {
	position: relative;
	width: 100%;
	height: $TOOLBAR_HEIGHT;
	padding: 0 3rem 0 $TOOLS_WIDTH - 0.5rem;

	background-color: $themeColorDark;
	border-bottom: $themeColorDarker 2px solid;
	z-index: 90;

	div {
		float: left;
		padding: 0.25rem 0.5rem;
		margin: 0.5rem 1rem 0.5rem 0;

		line-height: $TOOLBAR_HEIGHT - 0.5rem * 2 - 0.25rem * 2;

		border-radius: 0.25rem;

		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}

aside.tools {
	position: relative;
	width: $TOOLS_WIDTH;
	height: calc(100% - #{$HEADER_HEIGHT} - #{$TOOLBAR_HEIGHT});
	float: left;

	background-color: $asideBackground;

	color: white;

	div {
		margin: 0.5rem 0.5rem;
		padding: 0.5rem 0;
		border-radius: 0.25rem;

		text-align: center;

		cursor: pointer;

		&:hover {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
}

aside.panels {
	position: relative;
	width: $LAYERS_WIDTH;
	//height: calc(100% - #{$HEADER_HEIGHT} - #{$TOOLBAR_HEIGHT});
	float: right;

	background-color: $asideBackground;

	color: white;

	h2 {
		padding: 1rem 1rem;

		border-bottom: black 1px solid;
	}

	section {
		border-bottom: $background 12px solid;

		&#layers {
			div {
				padding: 0.5rem 1rem;

				border-bottom: black 1px solid;

				&:last-child {
					border-bottom: none;
				}
			}
		}

		&#properties {
			div {
				padding: 1rem 1rem;
			}

			label {
				display: inline-block;
				width: 10%;
			}

			input {
				width: 33%;
				margin-right: 1rem;
				margin-bottom: 0.25rem;
			}
		}
	}
}

.centerArea {
	display: flex;
	width: calc(100% - #{$TOOLS_WIDTH} - #{$LAYERS_WIDTH});
	height: calc(100% - #{$HEADER_HEIGHT} - #{$TOOLBAR_HEIGHT});
	align-items: center;
	justify-content: center;
	float: left;

	canvas {
		background-color: white;
	}
}
